body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}
 
/* Navbar */
.relleno{
    background-color: #17a3b8;
}

.relleno2 {
    background-color: black;
}

.carousel-item img {
    max-height: 100vh;
}

.mrgn {
    margin-top: -57px;
}

/* pesos de fuente */
h1 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

/* Quienes Somos */
.ancho {
    background-color: #17a3b8;
    height: 1px;
    width: auto;
}

.bgColor {
    background-color: black;
}

.bord {
    border-color: black;
}

/* Destacados */
.tamano {
    width: 288px;
    height: 192px;
}

/* Footer */
#footer {
    background-color: #17a3b8;
    font-weight: 500;
}